<div id="home_background">
  <center>
    <div id="content_home_card">
      <center>
          <p>
            <h1>
              <a href="http://webs.wichita.edu/?u=ennovar&p=/index/">
                <%=image_tag("Ennovar_Logo.jpg", class: "rounded_corners") %>
              </a>
            </h1>
          </p>
        <%= link_to('Request Access', articles_url,  {style: "color: #FFF"}) %>
        <%= link_to('MyProfile', profile_url, {style: "color: #FFF"}) %>
        <%= link_to('Logout', logout_url, {style: "color: #FFF"}) %>
      </center>
    </div>

    <%=image_tag("Hardware_Available.jpg", class: "rounded_corners") %>
    <p><p><%=image_tag("Controllers_Available.jpg", class: "rounded_corners") %> </p></p>
    <p><p><%=image_tag("Building_Block_8.jpg", class: "rounded_corners") %></p></p>
    <p><p><%=image_tag("Building_Block_9.jpg", class: "rounded_corners") %></p></p>
    <p><p><%=image_tag("Building_Block_10.jpg", class: "rounded_corners") %></p></p>
  </center>
</div>
