<div id="content">
  <center>
    <h2 class='User_Header'> Profile For: <%=@current_user.username%> </h2>
    <%= link_to('Home', home_url) %>
    <%= link_to('HPC Request', articles_url) %>
    <%= link_to('Edit Account', edit_user_path(@current_user)) %>
    <%= link_to('Logout', logout_url) %>
  </center>
</div>
